#box{
    height: 500px;
    width: 100px auto;
    background-color: yellow;
}
.b{
    width: 100px;
    height: 100px;
    display: inline-block;
    justify-content: space-evenly;
    background-color: green;
    border-radius: 60px;
}